body {
  background: black;
  color: #00ff9f;
  text-align: center;
  font-family: monospace;
}

button {
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  background: red;
  color: white;
  border: none;
}


